@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0; }

@media screen and (max-width: 1023px) {
  body {
    background-color: black;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    color: aqua;
    /*Fin header*/ }
    body header {
      background-color: #050505;
      height: 151px;
      width: 100%;
      display: flex;
      flex-direction: column; }
      body header .logo {
        width: 80px;
        height: 80px;
        margin-top: 15px;
        align-self: center; }
      body header .botonMenu {
        margin-left: 91%;
        display: block;
        width: 30px;
        height: 30px;
        padding: 5px;
        border-radius: 7px;
        background: #666;
        position: relative; }
      body header span {
        display: block;
        width: 30px;
        height: 3px;
        background: white;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 0; }
      body header label {
        cursor: pointer; }
      body header #menuDesplegable {
        display: none; }
      body header #listaMenu {
        display: none;
        text-align: center;
        background: white;
        padding: 0;
        list-style-type: none; }
      body header a {
        display: block;
        background-color: #141414;
        color: white;
        text-decoration: none;
        padding: 10px; }
      body header a:hover {
        background-color: red; }
      body header #menuDesplegable:checked + #listaMenu {
        display: block; }
    body .slide {
      position: relative;
      box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
      margin-top: 70px; }
    body .slide-inner {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: calc( 300px + 3em); }
    body .slide-open:checked + .slide-item {
      position: static;
      opacity: 100; }
    body .slide-item {
      position: absolute;
      opacity: 0;
      -webkit-transition: opacity 0.6s ease-out;
      transition: opacity 0.6s ease-out; }
    body .slide-item img {
      display: block;
      height: auto;
      max-width: 100%; }
    body .slide-control {
      background: rgba(0, 0, 0, 0.28);
      border-radius: 50%;
      color: #fff;
      cursor: pointer;
      display: none;
      font-size: 40px;
      height: 40px;
      line-height: 35px;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      cursor: pointer;
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      text-align: center;
      width: 40px;
      z-index: 10; }
    body .slide-control.prev {
      left: 2%; }
    body .slide-control.next {
      right: 2%; }
    body .slide-control:hover {
      background: rgba(0, 0, 0, 0.8);
      color: #aaaaaa; }
    body #slide-1:checked ~ .control-1,
    body #slide-2:checked ~ .control-2,
    body #slide-3:checked ~ .control-3 {
      display: block; }
    body .slide-indicador {
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      bottom: 2%;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 10; }
    body .slide-indicador li {
      display: inline-block;
      margin: 0 5px; }
    body .slide-circulo {
      color: #828282;
      cursor: pointer;
      display: block;
      font-size: 35px; }
    body .slide-circulo:hover {
      color: #aaaaaa; }
    body #slide-1:checked ~ .control-1 ~ .slide-indicador
li:nth-child(1) .slide-circulo,
    body #slide-2:checked ~ .control-2 ~ .slide-indicador
li:nth-child(2) .slide-circulo,
    body #slide-3:checked ~ .control-3 ~ .slide-indicador
li:nth-child(3) .slide-circulo {
      color: #428bca; }
    body #titulo {
      width: 100%;
      position: absolute;
      padding: 0px;
      margin: 0px auto;
      text-align: center;
      font-size: 27px;
      color: white;
      font-family: 'Open Sans', sans-serif;
      z-index: 9999;
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0); }
    body .presentacion {
      text-align: center; }
      body .presentacion h1, body .presentacion h2 {
        font-size: 35px; }
      body .presentacion p {
        font-size: 20px; }
    body hr {
      color: white;
      size: 5px;
      width: 75%;
      display: block;
      margin: 90px auto 90px; }
    body .videoMobile {
      width: 450px;
      height: 350px;
      display: block;
      margin: auto; }
    body footer {
      background-color: #050505;
      height: 180px;
      margin-top: 25px;
      display: flex;
      flex-direction: column; }
      body footer .spanMobile {
        text-align: center; }
      body footer p {
        text-align: center; }
      body footer .logo {
        display: block;
        width: 80px;
        height: 80px;
        margin: 25px auto 15px auto; }
    body h1 {
      margin-top: 105px;
      text-align: center;
      font-size: 35px; }
    body .bandaGrupo, body .bandaGrupoRigth {
      text-align: center;
      font-size: 25px;
      text-decoration: underline; }
    body #gridsDays, body #gridsDaysRigth {
      display: block;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px; }
      body #gridsDays a, body #gridsDaysRigth a {
        text-decoration: none;
        font-size: 20px; }
      body #gridsDays img, body #gridsDaysRigth img {
        width: 80px;
        height: 80px;
        display: block;
        margin: 25px auto 25px; }
    body .imglonly {
      display: block;
      margin: 25px auto 25px auto; }
    body h2 {
      text-align: center;
      font-size: 25px; }
    body .imgTi {
      width: 370px;
      height: 400px;
      display: block;
      margin: 25px auto 25px auto; }
    body .listProducts {
      text-align: center;
      font-size: 25px; }
    body button {
      display: block;
      margin: auto;
      border-radius: 7px;
      background-color: blue; }
    body .imgFaq {
      width: 250px;
      height: 250px;
      display: block;
      margin: 20px auto 20px auto;
      border-radius: 50%; }
    body .tab {
      position: relative;
      margin-left: 25px;
      margin-right: 25px; }
    body .tab input {
      display: none; }
    body .tab label {
      display: block;
      margin-top: 10px;
      padding: 10px;
      color: #fff;
      font-weight: bold;
      background-color: #2d5faf;
      cursor: pointer; }
    body .tab .content {
      background-color: #ccdef9;
      overflow: hidden;
      transition: max-height 0.3s;
      max-height: 0; }
    body .tab .content p {
      padding: 10px; }
    body .tab input:checked ~ .content {
      max-height: 100vh; }
    body .tab label::after {
      content: "\25b6";
      position: absolute;
      right: 10px;
      top: 10px;
      display: block;
      transition: all 0.4s; }
    body .tab input:checked ~ label::after {
      transform: rotate(90deg); }
  h3 {
    text-align: center; }
  form {
    text-align: center; }
    form input {
      width: 235px; }
    form .not {
      width: 10px; }
    form .cancelar, form .aceptar {
      display: inline;
      font-weight: bold;
      border-color: black; }
    form .cancelar {
      background-color: red; } }
