@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Ubuntu&display=swap');

*{
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1023px){
    body{ 
      background-color: black;
      font-family: 'PT Sans Narrow', sans-serif;
      font-weight: bold;
      color: aqua;
        header{
          background-color: rgb(5, 5, 5);
            height: 151px;
            width: 100%;
            display: flex;
            flex-direction: column;
            .logo{
                width: 80px;
                height: 80px;
                margin-top: 15px;
                align-self:center;
            }
            .botonMenu{
              margin-left: 91%;            
              display: block;            
              width: 30px;            
              height: 30px;            
              padding: 5px;            
              border-radius: 7px;            
              background: #666;            
                     
              position: relative;
            }
            span{
              display: block;
              width: 30px;
              height: 3px;
              background: white;
              margin-top: 5px;
              margin-bottom: 5px;
              font-size: 0;
            }
            label{
              cursor: pointer;
            }
            #menuDesplegable{
              display: none;
            }
            #listaMenu{
              display: none;
              text-align: center;
              background: white;
              padding:0;
              list-style-type: none;
            
            }
            a{
              display: block;
              background-color: rgb(20, 20, 20);
              color: white;
              text-decoration: none;
              padding: 10px;
            
            }
            a:hover{
                background-color: red;
            }
            #menuDesplegable:checked + #listaMenu{
              display: block;
            }
        }/*Fin header*/
        .slide {
          position: relative;
          box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
          margin-top: 70px;
        }
  
        .slide-inner {
          position: relative;
          overflow: hidden;
          width: 100%;
          height: calc( 300px + 3em);
        }
  
        .slide-open:checked + .slide-item {
          position: static;
          opacity: 100;
        }
  
        .slide-item {
          position: absolute;
          opacity: 0;
          -webkit-transition: opacity 0.6s ease-out;
          transition: opacity 0.6s ease-out;
        }
  
        .slide-item img {
          display: block;
          height: auto;
          max-width: 100%;
        }
  
        .slide-control {
          background: rgba(0, 0, 0, 0.28);
          border-radius: 50%;
          color: #fff;
          cursor: pointer;
          display: none;
          font-size: 40px;
          height: 40px;
          line-height: 35px;
          position: absolute;
          top: 50%;
          -webkit-transform: translate(0, -50%);
          cursor: pointer;
          -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
          text-align: center;
          width: 40px;
          z-index: 10;
        }
  
        .slide-control.prev {
          left: 2%;
        }
  
        .slide-control.next {
          right: 2%;
        }
  
        .slide-control:hover {
          background: rgba(0, 0, 0, 0.8);
          color: #aaaaaa;
        }
  
        #slide-1:checked ~ .control-1,
        #slide-2:checked ~ .control-2,
        #slide-3:checked ~ .control-3 {
          display: block;
        }
  
        .slide-indicador {
          list-style: none;
          margin: 0;
          padding: 0;
          position: absolute;
          bottom: 2%;
          left: 0;
          right: 0;
          text-align: center;
          z-index: 10;
        }
  
        .slide-indicador li {
          display: inline-block;
          margin: 0 5px;
        }
  
        .slide-circulo {
          color: #828282;
          cursor: pointer;
          display: block;
          font-size: 35px;
        }
  
        .slide-circulo:hover {
          color: #aaaaaa;
        }
  
        #slide-1:checked ~ .control-1 ~ .slide-indicador 
           li:nth-child(1) .slide-circulo,
        #slide-2:checked ~ .control-2 ~ .slide-indicador 
            li:nth-child(2) .slide-circulo,
        #slide-3:checked ~ .control-3 ~ .slide-indicador 
            li:nth-child(3) .slide-circulo {
          color: #428bca;
        }
  
        #titulo {
          width: 100%;
          position: absolute;
          padding: 0px;
          margin: 0px auto;
          text-align: center;
          font-size: 27px;
          color: rgba(255, 255, 255, 1);
          font-family: 'Open Sans', sans-serif;
          z-index: 9999;
          text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
               -1px 0px 2px rgba(255, 255, 255, 0);
        }

        .presentacion{
      
            text-align: center;
          h1, h2{
            font-size: 35px;
          }
          p{
            font-size: 20px;
          }
        }
     
     hr{
       color: white;
       size: 5px;
       width: 75%;
       display: block;
       margin: 90px auto 90px;
     }
     .videoMobile{
       width: 450px;
       height: 350px;
       display: block;
       margin: auto;
     }
     footer{
       background-color: rgb(5, 5, 5);
       height: 180px;
       margin-top: 25px;
       display: flex;
       flex-direction: column;
       .spanMobile{
         text-align: center;
       }
       p{
         text-align: center;
       }
       .logo{
         display: block;
         width: 80px;
         height: 80px;
         margin:25px auto 15px auto;
      }
      } 
      h1{
        margin-top: 105px;
        text-align: center;
        font-size: 35px;
      }  
     .bandaGrupo, .bandaGrupoRigth{
       text-align: center;
       font-size: 25px;
       text-decoration: underline;
     }
     #gridsDays, #gridsDaysRigth{
       display: block;
       text-align: center;
       margin-top: 20px;
       margin-bottom: 20px;
       
      a{
        text-decoration: none;
        font-size: 20px;
      }  
      img{
        width: 80px;
        height: 80px;
        display: block;
        margin: 25px auto 25px;
      }
     }
    .imglonly{
      display: block;
      margin: 25px auto 25px auto;
    }
    h2{
      text-align: center;
      font-size: 25px;
    }
    .imgTi{
      width: 370px;
      height: 400px;
      display: block;
      margin: 25px auto 25px auto;
    }
    .listProducts{
      text-align: center;
      font-size: 25px;
    }
    button{
      display: block;
      margin: auto;
      border-radius: 7px;
      background-color: blue;
    }
       .imgFaq{
         width: 250px;
         height: 250px;
         display: block;
         margin: 20px auto 20px auto;
         border-radius: 50%;
       } 
      .tab{
        position: relative;
        margin-left: 25px;
        margin-right: 25px;       
        }
        .tab input{
        display: none;
       }
       .tab label{
         display: block;
        margin-top: 10px;
        padding: 10px;
        color:#fff;
        font-weight: bold;
        background-color: #2d5faf;
        cursor: pointer;
        }
        .tab .content{
          background-color: #ccdef9;
          overflow: hidden;
          transition: max-height 0.3s;
          max-height: 0;
          }
        .tab .content p{
            padding: 10px;
          }
          .tab input:checked~.content{
            max-height: 100vh;
          }
          .tab label::after{
            content:"\25b6";
            position: absolute;
            right: 10px;
            top: 10px;
            display: block;
            transition: all 0.4s;
          }
        
        .tab input:checked~label::after{
          transform: rotate(90deg);
        }
      }
      h3{
        text-align: center;
      }
      form{
        text-align: center;
        input{
          width: 235px;
        }       
        .not{
          width: 10px; 
        }
        .cancelar, .aceptar{
          display: inline;
          font-weight: bold;
          border-color: black;
        }
        .cancelar{
          background-color: red;
        }
      }
    }
      


      

  

